<form action="/action_page.php">

 Select .wav: <input type="file" name="wav" multiple>

  <input type="submit" onkeypress=callApi()>

</form>

<script>

callApi(){

    $(function() {
        var params = {
            // Request parameters
            "shortAudio": "{boolean}",
        };
      
        $.ajax({
            url: "https://westus.api.cognitive.microsoft.com/spid/v1.0/identificationProfiles/{identificationProfileId}/enroll?" + $.param(params),
            beforeSend: function(xhrObj){
                // Request headers
                xhrObj.setRequestHeader("Content-Type","multipart/form-data");
                xhrObj.setRequestHeader("Ocp-Apim-Subscription-Key","{subscription key}");
            },
            type: "POST",
            // Request body
            data: "{body}",
        })
        .done(function(data) {
            alert("success");
        })
        .fail(function() {
            alert("error");
        });
    });


}







</script>

