<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Smarty - Multipurpose + Admin</title>
		<meta name="description" content="" />
		<meta name="Author" content="Dorin Grigoras [www.stepofweb.com]" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

		<!-- WEB FONTS : use %7C instead of | (pipe) -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" />


	</head>

	<!--
		AVAILABLE BODY CLASSES:
		
		smoothscroll 			= create a browser smooth scroll
		enable-animation		= enable WOW animations

		bg-grey					= grey background
		grain-grey				= grey grain background
		grain-blue				= blue grain background
		grain-green				= green grain background
		grain-blue				= blue grain background
		grain-orange			= orange grain background
		grain-yellow			= yellow grain background
		
		boxed 					= boxed layout
		pattern1 ... patern11	= pattern background
		menu-vertical-hide		= hidden, open on click
		
		BACKGROUND IMAGE [together with .boxed class]
		data-background="assets/images/_smarty/boxed_background/1.jpg"
	-->
	<body class="smoothscroll enable-animation">

		

		<!-- wrapper -->
		<div id="wrapper">

			<!-- 
				AVAILABLE HEADER CLASSES

				Default nav height: 96px
				.header-md 		= 70px nav height
				.header-sm 		= 60px nav height

				.b-0 		= remove bottom border (only with transparent use)
				.transparent	= transparent header
				.translucent	= translucent header
				.sticky			= sticky header
				.static			= static header
				.dark			= dark header
				.bottom			= header on bottom
				
				shadow-before-1 = shadow 1 header top
				shadow-after-1 	= shadow 1 header bottom
				shadow-before-2 = shadow 2 header top
				shadow-after-2 	= shadow 2 header bottom
				shadow-before-3 = shadow 3 header top
				shadow-after-3 	= shadow 3 header bottom

				.clearfix		= required for mobile menu, do not remove!

				Example Usage:  class="clearfix sticky header-sm transparent b-0"
			-->
			<div id="header" class="navbar-toggleable-md sticky clearfix">

			
			</div>


			<!-- 
				PAGE HEADER 
				
				CLASSES:
					.page-header-xs	= 20px margins
					.page-header-md	= 50px margins
					.page-header-lg	= 80px margins
					.page-header-xlg= 130px margins
					.dark		= dark page header
					.light		= light page header
			-->
			<section class="page-header page-header-xlg parallax parallax-3" style="background-image:url('demo_files/images/1200x800/18-min.jpg')">
				<div class="overlay dark-8"><!-- dark overlay [1 to 9 opacity] --></div>

				<div class="container">

					<h1>CAREERS</h1>
					<span class="font-lato fs-18 fw-300">Join Our Team &amp; Start Growing</span>

				

				</div>
			</section>
			<!-- /PAGE HEADER -->




			<!-- -->
			<section>
				<div class="container">
					
					<div class="row">
					
						<!-- LEFT -->
                    
						<div class="col-md-7 col-sm-7">
                        <h3>CURRENT OPENINGS JOBS</h3>
                    <div class="mt-30">
					<ul class="nav nav-tabs nav-clean">
						<li class="nav-item"><a class="nav-link" style="font-size: 18px" href="#tab1" data-toggle="tab">Account Professional</a></li>
                        
						<li class="nav-item"><a class="nav-link active show" style="font-size: 18px" href="#tab2" data-toggle="tab">Technical Sales Representative</a></li>
						<li class="nav-item"><a class="nav-link" style="font-size: 18px" href="#tab3" data-toggle="tab">Regional Field Engineer</a></li>
					</ul>

					<div class="tab-content">
						<div id="tab1" class="tab-pane">
                        <p class="text-center"><strong>Account Professional</strong></p>

                        <p class="text-center"><strong>Join Our Team and Leave Your Mark on the World…</strong></p>

<p>You are part of a global team committed to deliver quality products and services that meet or exceed our customers’ needs.&nbsp; Otis has built its reputation on the quality, reliability and integrity of the services we provide.&nbsp; Our customers rely on our experience and high quality customer service which they have trusted for over 165 years. It is our commitment to service excellence that ensures we will remain the number one elevator company in the world. We enjoy working together and fostering team relationships with our core values in mind:<br>
&nbsp;&nbsp;&nbsp;&nbsp; •&nbsp;We celebrate imagination<br>
&nbsp;&nbsp;&nbsp;&nbsp; •&nbsp;We believe in us<br>
&nbsp;&nbsp;&nbsp;&nbsp; •&nbsp;We are many voices<br>
&nbsp;&nbsp;&nbsp;&nbsp; •&nbsp;We are better together<br>
&nbsp;&nbsp;&nbsp;&nbsp; •&nbsp;We strive to be the best</p>

<p><strong>What We Have to Offer You</strong></p>

<p>&nbsp;&nbsp;&nbsp;&nbsp; •&nbsp;Candidate will be eligible for quarterly bonuses, yearly salary review in accordance with company policy<br>
&nbsp;&nbsp;&nbsp;&nbsp; •&nbsp;Career development opportunities – Otis believes in promoting from within and we are looking to help you build your career – we are not about offering just a job<br>
&nbsp;&nbsp;&nbsp;&nbsp; •&nbsp;Employee Scholar Program to allow you to further your education goals<br>
&nbsp;&nbsp;&nbsp;&nbsp; •&nbsp;A savings plan with company matching<br>
&nbsp;&nbsp;&nbsp;&nbsp; •&nbsp;Health and dental benefits as well as Otis pension plan</p>

<p>Otis Canada, Inc. is searching for a highly motivated Account Professionals.&nbsp; If you are looking for a role that combines your drive to succeed with a passion for Customers, then we have a great opportunity for you.&nbsp; We are seeking a self-starter, technically savvy, high energy, motivated Customer service professional.&nbsp; The eBranch Account Professional is a specialized position to meet the needs of a select grouping of Customers. The goal is to enhance our communication frequency and delivery for this specific segment of Customers by removing in person communication and increase overall touch points on an annual basis. Proactively contact all Customers on a rotational basis. You will provide resolution to Customer needs surrounding insurance certificate requests, billing questions, call back concerns, maintenance record requests and scheduling.&nbsp; You will also propose and sell additional service required to meet the needs of the Customer.<br>
&nbsp;</p>
							<p>
						</p></div>
						<div id="tab2" class="tab-pane fade active show">
                            <p class="text-center"><strong>Technical Sales Representative</strong></p>

							<p class="text-center"><strong>Join Our Team and Leave Your Mark on the World…</strong></p>

<p>You are part of a global team committed to deliver quality products and services that meet or exceed our customers’ needs.&nbsp; Otis has built its reputation on the quality, reliability and integrity of the services we provide.&nbsp; Our customers rely on our experience and high quality customer service which they have trusted for over 165 years. It is our commitment to service excellence that ensures we will remain the number one elevator company in the world. We enjoy working together and fostering team relationships with our core values in mind:<br>
&nbsp;&nbsp;&nbsp;&nbsp; •&nbsp;We celebrate imagination<br>
&nbsp;&nbsp;&nbsp;&nbsp; •&nbsp;We believe in us<br>
&nbsp;&nbsp;&nbsp;&nbsp; •&nbsp;We are many voices<br>
&nbsp;&nbsp;&nbsp;&nbsp; •&nbsp;We are better together<br>
&nbsp;&nbsp;&nbsp;&nbsp; •&nbsp;We strive to be the best</p>

<p><strong>What We Have to Offer You</strong></p>

<p>&nbsp;&nbsp;&nbsp;&nbsp; •&nbsp;Candidate will be eligible for quarterly bonuses, yearly salary review in accordance with company policy<br>
&nbsp;&nbsp;&nbsp;&nbsp; •&nbsp;Career development opportunities – Otis believes in promoting from within and we are looking to help you build your career – we are not about offering just a job<br>
&nbsp;&nbsp;&nbsp;&nbsp; •&nbsp;Employee Scholar Program to allow you to further your education goals<br>
&nbsp;&nbsp;&nbsp;&nbsp; •&nbsp;A savings plan with company matching<br>
&nbsp;&nbsp;&nbsp;&nbsp; •&nbsp;Health and dental benefits as well as Otis pension plan</p>

<p>If you are looking for a role that combines your drive to succeed with a passion for customers, then we have a great opportunity for you.&nbsp; We are seeking a high energy, motivated sales professional to promote innovative solutions with current and potential customers in the territory area.</p>

<p>As a Sales Representative, you will be responsible for the estimating, promotion, sales and account management of elevator contracts in your area. Your challenges will include building and maintaining customer relationships, achieving or exceeding sales objectives, and serving as technical consultant to customers.&nbsp;<br>
&nbsp;<br>
&nbsp;&nbsp;&nbsp;&nbsp; •&nbsp;Manage and develop service sales territory through selling service and maintenance contracts<br>
&nbsp;&nbsp;&nbsp;&nbsp; •&nbsp;Making effective sales presentations&nbsp;<br>
&nbsp;&nbsp;&nbsp;&nbsp; •&nbsp;Educating customers and developing strategic solutions<br>
&nbsp;&nbsp;&nbsp;&nbsp; •&nbsp;Achieving maintenance contract sales objectives through engaging current and new customers&nbsp;<br>
&nbsp;&nbsp;&nbsp;&nbsp; •&nbsp;Retain current Otis maintenance agreements<br>
&nbsp;&nbsp;&nbsp;&nbsp; •&nbsp;Maximize customer satisfaction through prompt and efficient handling of customer inquiries<br>
&nbsp;&nbsp;&nbsp;&nbsp; •&nbsp;Visit job sites to determine scope of prospective job or to check on the status of a current job<br>
&nbsp;&nbsp;&nbsp;&nbsp; •&nbsp;Ongoing account management<br>
&nbsp;&nbsp;&nbsp;&nbsp; •&nbsp;Complete weekly, monthly, and yearly reports<br>
&nbsp;&nbsp;&nbsp;&nbsp; •&nbsp;Performs other duties as assigned</p></div>
						<div id="tab3" class="tab-pane fade">
                        <p class="text-center"><strong>Regional Field Engineer</strong></p>

                        <p class="text-center"><strong>Join Our Team and Leave Your Mark on the World…</strong></p>

<p>You are part of a global team committed to deliver quality products and services that meet or exceed our customers’ needs.&nbsp; Otis has built its reputation on the quality, reliability and integrity of the services we provide.&nbsp; Our customers rely on our experience and high quality customer service which they have trusted for over 165 years. It is our commitment to service excellence that ensures we will remain the number one elevator company in the world. We enjoy working together and fostering team relationships with our core values in mind:<br>
&nbsp;&nbsp;&nbsp;&nbsp; •&nbsp;We celebrate imagination<br>
&nbsp;&nbsp;&nbsp;&nbsp; •&nbsp;We believe in us<br>
&nbsp;&nbsp;&nbsp;&nbsp; •&nbsp;We are many voices<br>
&nbsp;&nbsp;&nbsp;&nbsp; •&nbsp;We are better together<br>
&nbsp;&nbsp;&nbsp;&nbsp; •&nbsp;We strive to be the best</p>

<p><strong>What We Have to Offer You</strong></p>

<p>&nbsp;&nbsp;&nbsp;&nbsp; •&nbsp;Candidate will be eligible for quarterly bonuses, yearly salary review in accordance with company policy<br>
&nbsp;&nbsp;&nbsp;&nbsp; •&nbsp;Career development opportunities – Otis believes in promoting from within and we are looking to help you build your career – we are not about offering just a job<br>
&nbsp;&nbsp;&nbsp;&nbsp; •&nbsp;Employee Scholar Program to allow you to further your education goals<br>
&nbsp;&nbsp;&nbsp;&nbsp; •&nbsp;A savings plan with company matching<br>
&nbsp;&nbsp;&nbsp;&nbsp; •&nbsp;Health and dental benefits as well as Otis pension plan</p>

<p>Otis Canada, Inc. is hiring a Regional Field Engineer for Western Canada.&nbsp; The Regional Field Engineer acts as a liaison between the factory and the field, resolving technical issues that arise in the field.</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp; •&nbsp;Design / redesign elevator components and / or control systems to meet the needs of customers<br>
&nbsp;&nbsp;&nbsp;&nbsp; •&nbsp;Train field associates engaged in construction, service and modernization projects<br>
&nbsp;&nbsp;&nbsp;&nbsp; •&nbsp;Direct and implement&nbsp; process improvement activities in the field<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;•&nbsp;Work with a diverse portfolio of equipment (Otis and non-Otis equipment)<br>
&nbsp;&nbsp;&nbsp;&nbsp; •&nbsp;Submit design documentation to the regulatory bodies and explain code compliance rationale to these authorities<br>
&nbsp;&nbsp;&nbsp;&nbsp; •&nbsp;Ensure that all field personnel comply with safe work practices in accordance with EH&amp;S standards<br>
&nbsp;&nbsp;&nbsp;&nbsp; •&nbsp;Interface with internal and external customers and identify solutions and provide consultation&nbsp;&nbsp;&nbsp;</p>

<p><strong>Travel is required in this position.</strong></p>
                            
                            <p>
						</p></div>
					</div>
				</div>
							

							




							

						</div>

						<!-- RIGHT - FORM -->
						<div class="col-md-5 col-sm-5">

							<div class="heading-title heading-border-bottom">
								<h2 class="fs-20">APPLY NOW</h2>
							</div>


				            <%= form_with(model: @career, local: true) do |form| %>
								<fieldset>
									<!-- required [php action request] -->
									<input type="hidden" name="action" value="contact_send" />

									<div class="row">
										<div class="col-md-6 col-sm-6">
											<label>First Name *</label>
											<input type="text" name="first_name" value="" class="form-control required">
										</div>
										<div class="col-md-6 col-sm-6">
											<label>Last Name *</label>
											<input type="text" name="last_name" value="" class="form-control required">
										</div>
									</div>

									<div class="row">
										<div class="col-md-6 col-sm-6">
											<label>Email *</label>
											<input type="email" name="email" value="" class="form-control required">
										</div>
										<div class="col-md-6 col-sm-6">
											<label>Phone *</label>
											<input type="text" name="phone" value="" class="form-control required">
										</div>
									</div>

									<div class="row">
										<div class="col-md-12 col-sm-12">
											<label>Position *</label>
											<select name="position" class="form-control pointer required">
												<option value="">--- Select ---</option>
												<option value="Marketing">Account Professional</option>
												<option value="Developer">Technical Sales Representative</option>
												<option value="php">Regional Field Engineer</option>
											</select>
										</div>
									</div>

									<div class="row">
										<div class="col-md-6 col-sm-6">
											<label>Expected Salary *</label>
											<input type="text" name="expected_salary" value="" class="form-control required">
										</div>
										<div class="col-md-6 col-sm-6">
											<label>Start Date *</label>
											<input type="text" name="start_date" value="" class="form-control datepicker required" data-format="yyyy-mm-dd" data-lang="en" data-RTL="false">
										</div>
									</div>

									<div class="row">
										<div class="col-md-12 col-sm-12">
											<label>Experience *</label>
											<textarea name="experience" rows="4" class="form-control required"></textarea>
										</div>
									</div>

								

									<div class="row">
										<div class="col-md-12">
											<label>
												File Attachment 
												<small class="text-muted">Curriculum Vitae - optional</small>
											</label>

											<!-- custom file upload -->
											<div class="fancy-file-upload fancy-file-primary">
												<i class="fa fa-upload"></i>
												<input type="file" class="form-control" name="attachment" onchange="jQuery(this).next('input').val(this.value);" />
												<input type="text" class="form-control" placeholder="no file selected" readonly="" />
												<span class="button">Choose File</span>
											</div>
											<small class="text-muted block">Max file size: 10Mb (zip/pdf/jpg/png)</small>

										</div>
									</div>

								</fieldset>

								<div class="row">
									<div class="col-md-12">
										<button type="submit" class="btn btn-3d btn-teal btn-xlg btn-block mt-30">
											SEND APPLICATION
											<span class="block font-lato">We'll get back to you within 48 hours</span>
										</button>
									</div>
								</div>

							</form>

							<hr class="mt-60" />

							<div class="text-center mt-60">
								<i class="fa fa-phone fa-3x"></i>
								<h1 class="font-raleway m-0">1800-123-456</h1>
								<span class="fs-13 text-muted">FEEL FREE TO CALL US</span>
							</div>

						</div>
						
					</div>
					
				</div>
			</section>
			<!-- / -->




			
		<!-- /wrapper -->


		<!-- SCROLL TO TOP -->
		<a href="#" id="toTop"></a>



	
	</body>
</html>